
/*-------------------
       RESET
-------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  overflow-y: hidden;
  overflow-x: hidden;
  
}

/*-------------------
     UTILITIES
-------------------*/

.block {
    display: block;
}

.inline_block {
    display: inline-block;
}

.flex {
    display:flex
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row_direct {
    flex-direction: row;
}

.jstfy_content_start  {
    justify-content: start;
}

.jstfy_content_cntr  {
    justify-content: center;
}

.jstfy_content_end {
    justify-content: end;
}

.align_end{
    align-items: end; 
}

.align_center {
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.space_evenly {
    justify-content: space-evenly;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.circle_img {
    clip-path: circle();
}

.display_none {
    display: none;
}

.fixed {
    position: fixed;
    right: 0;
}

.overflow_y_auto {
    overflow-y: auto;
}

/*------------------------------
    FONTS/COLORS - UTILITIES
-------------------------------*/

.text_center {
    text-align: center;
}

.vertical_text_center {
    vertical-align: middle;
}

.text_start {
    text-align: start;
}

.line_height_26 {
    line-height: 26px;
}

.line_height_40 {
    line-height: 40px;
}

.font_sz_12 {
    font-size: 12px;
}

.font_sz_20 {
    font-size: 20px;
}

.font_sz_24 {
    font-size: 24px;
}

.font_sz_30 {
    font-size: 30px;
}

.font_sz_40 {
    font-size: 40px;
}

.font_sz_50 {
    font-size: 50px;
}

.font_sz_60 {
    font-size: 60px;
}

.opacity_04 {
    opacity: 0.4;
}

.font_weight_100 {
    font-weight: 100;
}

.font_weight_700 {
    font-weight: 700;
}

.color_white {
    color: white;
}

.color_lightblue {
    color:#0084fd;
}

.color_blue_link {
    color:#9792e4;
}

.color_purple {
    color: #9792e4;
}

.color_black {
    color: black;
}

.color_senape {
    color: #fdc15f;
}

.color_grey {
    color: #a3a3a3;
}

.background_darkblue {
    background-color:#080b12
}

.background_grey {
    background-color: #a3a3a3;
}

.background_dark_grey {
    background-color: #282828;
}


.background_blue_night {
    background-color: #141922;
}

.background_white {
    background-color: white;
}

.background_black {
    background-color: black;
}

/*------------------------------
      LAYOUT - UTILITIES
--------------------------------*/

.pad_6 {
    padding: 6px;
}

.pad_10 {
    padding: 10px;
}

.pad_20 {
    padding: 20px;
}

.pad_50{
    padding: 50px;
}

.pad_100{
    padding: 100px;
}

.pad_top_20 {
    padding-top: 20px;
}

.pad_top_50 {
    padding-top: 50px;
}

.pad_bot_0 {
    padding-bottom: 0;
}

.pad_bot_20 {
    padding-bottom: 20px;
}

.pad_bot_50 {
    padding-bottom: 50px;
}

.pad_left_20 {
    padding-left: 20px;
}

.pad_left_50 {
    padding-left: 50px;
}

.pad_right_20 {
    padding-right: 20px;
}

.pad_right_50 {
    padding-right: 50px;
}

.margin_auto {
    margin: auto;
}

.marg_top_auto {
    margin-top: auto;
}

.marg_20 {
    margin: 20px;
}

.marg_100 {
    margin: 100px;
}

.marg_top_20 {
    margin-top: 20px;
}

.marg_top_50 {
    margin-top: 50px;
}

.marg_top_80 {
    margin-top: 80px;
}

.marg_top_100 {
    margin-top: 100px;
}

.marg_top_150 {
    margin-top: 150px;
}

.marg_top_200 {
    margin-top: 200px;
}

.marg_bot_10 {
    margin-bottom: 10px;
}

.marg_bot_20 {
    margin-bottom: 20px;
}

.marg_bot_50 {
    margin-bottom: 50px;
}

.marg_left_10 {
    margin-left: 10px;
}

.marg_left_20 {
    margin-left:20px;
}

.marg_left_50 {
    margin-left:50px;
}

.marg_left_200 {
    margin-left:200px;
}

.marg_right_10 {
    margin-right: 10px;
}

.marg_right_20 {
    margin-right: 20px;
}

.marg_right_50 {
    margin-right: 50px;
}

.marg_right_200 {
    margin-right: 200px;
}

.gap_10 {
    gap: 10px;
}

.gap_20 {
    gap:20px;
}

.gap_50 {
    gap:50px;
}

.border_2px {
    border: 2px solid white;
}

.border_rad_10 {
    border-radius: 10px;
}

.border_rad_30 {
    border-radius: 30px;
}

.border_rad_50 {
    border-radius: 50px;
}

.border_rad_100 {
    border-radius: 100%;
}

/*------------------------------
   HEIGHT - WIDTH (%) UTILITIES
--------------------------------*/

.height_100 {
    height: 100%;
}

.height_50 {
    height: 50%;
}

.height_30 {
    height: 30%;
}

.height_10 {
    height: 10%;
}

.width_100 {
    width: 100%;
}

.width_80 {
    width: 80%;
}

.width_60 {
    width: 60%;
}

.width_50 {
    width: 50%;
}

.width_30 {
    width: 30%;
}

.width_20 {
    width: 20%;
}

.min_width_100 {
    min-width: 100%;
}

.max_width_20 {
    max-width: 20%;
}

/*-------------------
    GRID LAYOUT
-------------------*/

.container_big {
    width: 1200px;
    margin: auto;
}

.container_small {
    width: 600px;
    margin: auto;
}

.col_16 {
    width: calc(100% / 6);
}

.col_20 {
    width: 20%;
}

.col_25 {
    width: 25%;
}

.col_30 {
    width: 30%;
}

.col_33 {
    width: calc(100% / 3);
}

.col_50 {
    width: 50%;
}

.col_60 {
    width: 60%;
}

.col_66 {
    width: calc(100% - (100% / 3));
}

.col_70 {
    width: 70%;
}

.col_80 {
    width: 80%;
}

.square {
    width: 30px;
    height: 30px;
}
/*-------------------
       BUTTONS
-------------------*/

.btn_standard {
    border-radius: 30px;
    margin: 20px 0;
    border: none; 
    padding: 10px;
}

.btn_big {
    border-radius: 30px;
    margin: 20px 0;
    border: none; 
    padding: 20px;
}

/*-------------------
      SOUNDBARS
-------------------*/

.soundbar_white {
    height: 3px;
    background-color: white;
    width: 70%;
}

.soundbar_grey {
    height: 3px;
    background-color: grey;
    width: 30%;
}

/*-------------------
       HOVER
-------------------*/

header ul li:hover,
header h4:hover,
header h5:hover {
    color: white;
}

header .square:hover {
    background-color: white;
}















/*---------------------
        LAYOUT
 HEADEAR - MAIN - FOOTER
---------------------*/

header { 
    width: 200px;
    height: calc(100vh - 90px); 
    top: 0;
    flex-shrink: 0; 
   
}

header .playlist {    
    height: calc(100vh - 80px);     
}

main  {     
      height: calc(100vh - 90px);
      flex-grow: 1;
      flex-shrink: 1;
}

footer {  
    height: 90px;   
}
   
/*-------------------
    MEDIA QUERIES
-------------------*/
@media screen and (max-width: 1100px) {
    .played .col_16 {
        width: 25%;
    }
    .Jhon_Doe .col_16 {
        width: 25%;
    }
    .populars .col_16 {
        width: 25%;
    }
}

@media screen and (max-width: 700px) {

    .played .col_16 {
        width: 50%;
    }
    .Jhon_Doe .col_16 {
        width: 50%;
    }
    
    .populars .col_16 {
        width: 50%;
    }
  
}

@media screen and (max-width: 600px) {  
    header {
        max-width: 60px;
    }
  
    header .playlist, .install {
        display: none;
    }

    header .display_none {
        display: flex;
        flex-direction: column;    
    }

    #overflow_mobile {
        overflow-y: hidden;
    }
}